/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1 {
    color: #fff;
    font-family: "Helvetica neue";
    font-weight: normal;
    font-size: 14pt;
    text-align:center;
    padding-top: 90px;
    margin: 0px;
    background:none;
}

h2 {
    color: #000;
    font-family: "Times New Roman";
    padding-top: 0;
    margin-top: 0;
    text-align: left;
}

h3 {
    color: #666;
    font-family: "helvetica";
    padding-left: 10px;
}

h4{
    color:#000
    font-family: "Times new roman";
    padding-top: 0;
    margin-top: 0;
    text-align: left;
}

footer {
    background-color: #ccc;
    color: #000;
    font-family: "Times new roman";
    font-size: 12pt;
    text-align: center;
    padding:5px;
}


main {
    margin: 0px;
    padding: 0px;
}


.column {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* Left or right column */
.column.side {
    width: 35%;
    background-color: #ddd;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contentContainer {
    background-color: #f0f0e9;
    padding: 20px;
    overflow: hidden;
}

.contentContainerWhite {
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.headshot {
    margin-right:20px;
    margin-bottom: 10px;
    margin-left:0;
    margin-top:0px;
    float:left;
}

.map {
    border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
}

/* Style the tab */
nav {
    text-align: center;
    background-color: none;
    padding-top: 73px;
    margin: 0px;
    vertical-align: bottom;
}


nav ul {
    overflow: hidden;
    list-style: none;
    font-family: "Helvetica";
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

nav li{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;

}

nav a {
    font-weight: normal;
    padding: 20px;
    margin: 0px;
    font-weight: bold;
}


a.inactive:hover{
    color: #000;
    opacity: 0.7;


}
.active {
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
}

.inactive {
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
   
h1 {
    color: #fff;
    font-family: "Helvetica neue";
    font-weight: normal;
    text-align:left;
    padding-top: 10px;
    margin: 10px;
    background:none;
}


    nav {
    text-align: right;
    background-color: none;
    padding-top: 10px;
    margin: 0px;
    vertical-align: bottom;
}


nav ul {
    overflow: hidden;
    list-style: none;
    font-family: "Helvetica";
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

nav li{
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right:auto;

}

nav a {
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-weight: bold;
}

a.inactive:hover{
    background-color: #ffffff
    color: #000;
    opacity: 0.7;


}
.active {
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    outline: none;
    border-color: #ffffff
    cursor: pointer;
    opacity: 1;
}

.inactive {
    color: #ffffff;
    text-decoration: none;
    border: 10px;
    outline: none;
    cursor: pointer;
}
    
}


/* Style the tab content */
.tabcontent {
    padding: 12px 12px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    min-height: 600px;
    border-top: none;
    padding-top: 20px;
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
