/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1 {
    color: #ffffff;
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20pt;
    text-align: center;
    padding-top: 0px;
    margin: 0px;
    background:none;
}

h2 {
    color: #000;
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    font-weight: normal;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

h3 {
    color: #000;
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    font-weight: lighter;
    padding-left: 0;
    line-height: 1;

}

h4{
    color:#000
   font-family: "Helvetica", "Helvetica Neue", sans serif;
    padding-top: 0;
    margin-top: 0;
    text-align: left;
}

footer {
    position:center;
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    color:rgb(255 255 255);
    font-size: 12pt;
    text-align: center;
    padding:5px;
}


main {
    margin: 0px;
    padding: 0px;

}

p {
  font-family: "Helvetica", "Helvetica Neue", sans serif;
  font-weight: lighter;
  text-align: left;

}

li {
  font-family: "Helvetica", "Helvetica Neue", sans serif;
  font-weight: lighter;
}


.topSpacer {
  height: 0px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contentContainer {
    background-color: rgba(214, 186, 139, 0.7);
    -webkit-backdrop-filter: blur(20px) brightness(2);
    padding: 20px;
    margin: 10px 50px 10px 50px;
    top-margin: 10px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    width:100%;
}

.contentContainerWhite {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(20px) brightness(2);
    padding: 20px;
    overflow: hidden;
    margin: 10px 50px 10px 50px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
}

.contentContainerHeading {
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background-color: rgba(0,  47,  134, 0.8);
    -webkit-backdrop-filter: blur(20px) brightness(1.5);
    padding: 10px;
    overflow: hidden;
    margin: 10px 15% 100px 15%;
    border-radius: 15px;
    width: 100%;
    position:center;
  }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.headshot {
    float:none;
    width: 90%;
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
    position: center;
    diplay:block;
}

.headingPhotos {

   display:inline-block;
  text-align:center;
  width: 25%;
  border-radius: 15px;
  margin: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 0px;
  left: 0px;
  border-radius: 15px 15px 15px 15px;

}

.halfPage {
    border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
    width: 50%;
}

.thirdPage{
    border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
    width: 33%;
}

.quarterPage {
        border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
    width: 25%;
}

.map {
    border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
}

.parallax {
    position: relative;
    text-align: center;
    
}

.topMargin {
    height: 100px;
    padding: 30px;
    position:center;
}

/* Style the tab */
nav {
    display: inline-block;
    float: center;
    text-align: center;
    padding-top: 0px;
    margin: 0px;
    margin-right:auto;
    margin-left:auto;
}


nav ul {
    overflow: hidden;
    list-style: none;
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    font-weight: bolder;
    position:center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

nav li{
    display: inline-block;
    position:center;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;

}

nav a {
    font-weight: regular;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.centeredParagraph {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.centeredParagraphWhite {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}


.buttonCV {
  font-family: "Helvetica", "Helvetica Neue", sans serif;
  font-weight: lighter;
  position:center;
  padding:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color:#FF6666; 
  border-radius:15px;
  text-align: center;
  display: block;
}


.buttonCV:hover {

  background-color:#FF0000; 

}



a.inactive:hover{
    color: #000;
    background-color: #d6ba8b;
    padding: 10px;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(20px) brightness(1.5);
    border-radius: 10px 10px 10px 10px;


}
.active {
    background-color: rgb(0,  47,  134,0.8);
    -webkit-backdrop-filter:blur(20px) brightness(2);
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    border-radius: 10px 10px 10px 10px;
    font-weight: bolder;
}

.inactive {
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.journalEntry{
  min-height: 120px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(214, 186, 139);
  border-radius: 15px;
}


.journalEntry:hover{
  background-color: rgb(230,200,160);
}


@media only screen and (max-width: 700px) {

.contentContainer {
    padding: 20px;
    margin: 10px 0px 50px 0px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;

}

.contentContainerWhite {
    padding: 20px;
    overflow: hidden;
    margin: 10px 0px 50px 0px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
}

.contentContainerHeading {
  margin: 10px 0px 50px 0px;

  }


.topSpacer {
  height: 250px;
}

  .centeredParagraph {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}


.buttonCV {
  font-family: "Helvetica", "Helvetica Neue", sans serif;
  font-weight: lighter;
  float:none;
  position:center; 
  padding:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color:#FF6666; 
  border-radius:15px;
  text-align: center;
  display: block;
}


.buttonCV:hover {
  font-family: "Helvetica", "Helvetica Neue", sans serif;
  font-weight: lighter;
  float:none;
  position:center; 
  padding:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 60px;
  margin-right: 60px;
  background-color:#FF0000; 
  border-radius:15px;
  text-align: center;
  display: block;
}


.headshot {
    margin: 10px;
}


h1 {
    float: left;
    width: 30%;
    padding-top: 10px;
    margin: 10px;
}


    nav {
    font-family: "Helvetica", "Helvetica Neue", sans serif;
    font-weight: lighter;
    text-align: right;
    float: right;
    background-color: none;
    padding-top: 0px;
    margin: 0px;
    vertical-align: bottom;
}


nav ul {
    overflow: hidden;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
}

nav li{
    display: block;
    padding: 8px;
    margin-top: 9px;
    margin-left: auto;
    margin-right:auto;

}

nav a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}


.halfPage, .thirdPage, .quarterPage {
    border: 10px;
    border-color: black;
    padding: 10px;
    float:right;
    width: 100%;
    border-radius: 15px;
}
    
.headingPhotos {
   display:inline-block;
  text-align:center;
  width: 25%;
  border-radius: 15px;
  margin: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 0px;
  left: 0px;
  border-radius: 15px 15px 15px 15px;
}

.topMargin {
    height: 200px;
    padding: 30px;
}



}


/* Style the tab content */
.tabcontent {
    padding: 0px;
    border-radius: 15px 15px 15px 15px;
    /* background-color: #ffffff; */
    min-height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 200px;

}

.thumbnail {
    width = 100px;
    height = auto;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.row:after {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

/* Create four equal columns that floats next to eachother */
.columnGallery {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columnImages {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.columnGallery img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

.columnImages img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .columnGallery {
    flex: 50%;
    max-width: 50%;
  }
  .topSpacer {
  height: 300px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .columnGallery {
    flex: 100%;
    max-width: 100%;
  }
  .topSpacer {
  height: 300px;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  height: 600px;
  background-color: #000;
  text-align:center;
}

.galleryDisplay {
    max-width:100%;
    max-height:95%;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  height: 200px;
  max-width: 90%;
}

.active,
.demo:hover {
  opacity: 1;
  max-height: = 200px;
  max-width: 90%;

}

img.hover-shadow {
  transition: 0.3s;
  margin-top: 8px;
  vertical-align: middle;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
