
<!doctype html>
<html class="no-js" lang="en">
    <head>
         <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
   
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125019670-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125019670-1');
</script>





   </head>

   <style>
        .parallax {
            /* The image used */
            background-image: url('img/{{ current_page.background_image }}');

            /* Set a specific height */
            height: 260px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

}
   </style>


    <body>
           <main>

        <div class="parallax">
            {% block parallax_header%}{% endblock %}
            <nav><ul>
            	{% for p in PAGES %}
                	<li><a {% if p.name == current_page.name %}class ="active" {% endif %}
                	{% if p.name != current_page.name %}class ="inactive"{% endif %} href = "{{ p.name }}.html">{{p.title}}</a></li>{% endfor %}
        	</nav>
        </div>





        <div class="tabcontent">
            {% block page_content %}{% endblock %}
        </div>


<div class="parallax"></div>

    </main>


        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

    <div>
       <footer> Nick last updated this website on {{ today.strftime('%b %d, %Y') }} </footer>
    </div>
    </body>
</html>
