{% extends 'base.html.j2' %}

{% block title %}Nick's CV{% endblock %}

{% block page_content %}

<h2> Curriculum Vitae </h2>
            <p> Download the most current version of my CV <a href="CV_Roberts_2018">here</a>.</p>
<div class = "contentContainerWhite">
            <img src="CV_Roberts_2018.pdf" alt="char" width=90% style="float:left">
            <img src="CV_Roberts_2018page2.pdf" alt="char" width=90% style="float:left">
</div>
{% endblock %}