{% extends 'base.html.j2' %}

{% block title %}Nick's CV{% endblock %}

{% block page_content %}

<h2> Curriculum Vitae </h2>
            <p> Download the most current version of my CV <a href="http://www.google.com">here</a>.</p>

{% endblock %}