{% extends 'base.html.j2' %}

{% block title %}Nick's geology home{% endblock %}

{% block page_content %}
<p><div class = "row">
    <div class="column middle">
        <div class = "contentContainerWhite">
            <img class="headshot" src="img/me.png" alt="char" width="25%">
            <h2>Welcome</h2>
            <p>
                    I am currently a third year PhD student in the Structure and Tectonics group at the University of  Wisconsin-Madison with <a href="http://geoscience.wisc.edu/geoscience/people/faculty/basil-tikoff/">Basil Tikoff</a>. My research interests include early Earth crustal processes, shear zone kinematics using microstructures, pluton  emplacement, and statistical analysis of structural geology data. For my PhD, I am applying  all these interests to investigate the kinematic and emplacement history of several  Paleoarchean granitic complexes of the 3.5-3.2 Ga East Pilbara craton, Western Australia.
            </p>
        </div>
        <div class = "contentcontainerWhite">
            <h2>Contact info</h2>
            <p><em>email:</em><br>nmroberts@wisc.edu</p>
            <p><em>address:</em><br>Department of Geoscience<br>1215 W Dayton Street<br>Madison, WI 53706</p>
        </div>
    </div>

    <div class = "column side">
        <h3> Recent Activity </h3>
        <ul>
            <li> <strong> Dec. 2017: </strong> Presented a <a href = "AGU 2017 Poster Final.pdf"> poster </a> at the AGU Fall meeting about keeping track of orientation data in the <a href = "http://strabospot.org"> StraboSpot</a> data system </li>
            <li> <strong> Nov. 2017: </strong> Gave a talk at the Specialist Group in Tectonics and Structural Geology (SGTSG) meeting in Denmark, Western Australia.</li>
            <li> <strong> Nov. 2017: </strong> Attended the 7-day <a href="http://www.google.com"> SGTSG preconference field trip <a> led by the Geological Survey of Western Australia</li>
        </ul>
    </div>
</div></p>
{% endblock %}
