{% extends 'base.html.j2' %}

{% block title %}Nick's geology home{% endblock %}

{% block parallax_header %}<h1 class="topMargin">Nick Roberts | <em>Structural Geology</em></h1>{% endblock %}

{% block page_content %}

<div class = "row">

        <div class = "contentContainerHeading">

            <div>

                    <a style="color: #ffffff; text-decoration: none;" href="CV_Roberts_2021.pdf"><span class="buttonCV">Download CV</span></a>

            </div>

            <div style="padding-left: 15px; border-left: 2px solid grey;">
                <h3>Postdoctoral Researcher</h3>
                <h3>Department of Geoscience, University of Wisconsin Madison</h3>
            </div>

        </div>

<div class = "column middle">
    <div class = "contentContainerWhite">

        <div>
            <img class="headshot" src="img/meOct2019.jpeg" alt="char">
            <h2>About Me</h2>
            <p>
                    I am a quantitative field-based structural geologist with a broad set of research interests that center around how the continental crust accomodates deformation. From flow in the lower crust to crustal scale fault/shear systems, I combine statistical analysis of field structural data with quantitative microstructures and interdisciplinary lab techniques to characterize strain, kinematics, and deformation history. A natural extension (no structure-pun intended) of this research is the study of crystal-scale strain accomodation and rheology.

            </p>

            <p>
                    Most of my research to date has focused on the East Pilbara craton in Western Australia, where I have worked to characterize the structures in an around a Paleoarchean granitic dome. Along the way, I've picked up a love of statistical analysis of structural data and I am part of the <a href ="http://strabospot.org">StraboSpot</a> project, a community-supported effort to efficiently collect and store structural (and other types of) data in a flexible database.
            </p>

        </div>
        </div>

        <div class = "contentContainerWhite">
            	<h2>Contact info</h2>
            	<p><em>email:</em><br>nmroberts@wisc.edu</p>
            	<p><em>address:</em><br>Department of Geoscience<br>1215 W Dayton Street<br>Madison, WI 53706</p>
        </div>
    </div>

</div>
{% endblock %}
