{% extends 'base.html.j2' %}

{% block title %}Nick's Projects{% endblock %}

{% block page_content %}

<h2> The Pilbara Craton </h2>
                                <img class="map" src="img/PilbaraSat.png" alt="char" width="400">

                <h4>
                    Project goals: 
                </h4>
                <ul>
                    <li>boundary kinematics </li>
                    <li>internal dome strucures (AMS)</li>
                    <li>numerical modeling</li>
                </ul>

{% endblock %}
