{% extends 'base.html.j2' %}

{% block title %}Nick's Publications{% endblock %}

{% block parallax_header %}<h1 class="topMargin"></h1>{% endblock %}

{% block page_content %}
<div class = "row">
<div class = "contentContainerHeading">

<h2>Publications</h2>


	<a href=https://doi.org/10.1029/2021TC007042 style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_tect.jpg" alt="char">
		
		<p>Roberts, N.M. Tikoff, B., and Salerno, R.A., 2022. Greenstone-Up Shear Sense at the Margin of the Mt Edgar Dome, East Pilbara Terrane: Implications for Dome and Keel Formation in the Early Earth. Tectonics, 41,  e2021TC007042. https://doi.org/10.1029/2021TC007042</p>
		
	</div>
	</a>


	<a href=https://doi.org/10.1016/j.precamres.2021.106163 style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_pr.gif" alt="char">
		
		<p>Roberts, N.M. Tikoff, B., 2021. Internal structure of the Paleoarchean Mt Edgar dome, Pilbara Craton, Western Australia. Precambrian Research 358, p. 106-163</p>
		
	</div>
	</a>

	<a href=https://doi.org/10.1016/j.jsg.2018.05.030 style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_jsg.gif" alt="char">
		
		<p>Roberts, N.M., Tikoff, B., Davis, J.R., Stetson-Lee, T., 2019. The utility of statistical analysis in structural geology. Journal of Structural Geology 125, p. 64–73.
</p>
		
	</div>
	</a>

	<a href=https://doi.org/10.1016/j.epsl.2021.117139 style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_EPSL.jpg" alt="char">
		
		<p>
		Salerno, R., Vervoort, J., Fisher, C., Kemp, A., and Roberts, N. M., 2021. The coupled Hf-Nd isotope record of the early Earth in the Pilbara Craton. Earth and Planetary Science Letters 572, p. 117-139.
		</p>
		
	</div>
	</a>


	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_gs.png" alt="char">
		
		<p>
		Duncan, C. J., Chan, M. A., Hajek, E., Kamola, D., Roberts, N. M., Tikoff, B., Walker, J. D.. Bringing Sedimentology and Stratigraphy into the StraboSpot Data Management System. Geosphere, in press.
		</p>
		
	</div>


		<a href=https://doi.org/10.1016/j.jsg.2018.09.019 style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry>
		<img style="height:80px; float:left;margin-right: 20px;" src="img/journalCover_jsg.gif" alt="char">
		
		<p>
		Tikoff, B., Newman, J., Chatzaras, V., and Roberts, N. M., 2019. Big data in microstructure analysis: Building a universal orientation system for thin sections. Journal of Structural Geology 125, p. 226-234.
		</p>
		
	</div>
	</a>



	<a href=https://scholar.google.com/citations?user=CsRrztIAAAAJ&hl=en&oi=sra style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry style="width:45%;margin-right:10px; margin-left:20px;float:left">
		<img style="height:80px; float:left;margin-right: 20px;" src="img/googleScholar.png" alt="char">
		
		<p>Click here to go to my google Scholar Page</p>
		
	</div>
	</a>

	<a href=https://www.researchgate.net/profile/Nicolas-Roberts style="text-decoration:none; color:rgb(0 0 0)">
	<div class=journalEntry style="width:45%;margin-left:10px;margin-right:20px;float:right">
		<img style="height:80px; float:left;margin-right: 20px;" src="img/researchGate.png" alt="char">
		<p>Click here to go to my ResearchGate Profile</p>
		
	</div>
	</a>

</div>

</div>

{% endblock %}
