{% extends 'base.html.j2' %}

{% block title %}Nick's geology research{% endblock %}

{% block page_content %}

<h2>The Pilbara Craton</h2>
    <img class="map" src="img/PilbaraSat.png" alt="char" width="400">
    <p>
    	Since 2016, we have been studying the boundary kinematics and internal structure of the Mt Edgar granitic complex, one of several 50 km-scale structural domes in the Paleoarchean East Pilbara block of the Pilbara craton. These large domes are separated by synformal belts of a very thick coeval supracrustal sequence of volcanics and sedimentary rocks. The East Pilbara block has been pointed to as a the type locality of a pre-plate tectonics process, but this hypothesis is a matter of ongoing debate. We are looking at the kinematics of the sheared boundary between the Mt Edgar granitic complex and the greenstone belt using microstructural analysis by Electron Backscatter Diffraction [EBSD]. We are also conducting a magnetic fabrics of the weakly deformed granitoids within the Mt Edgar granitic complex using Anisotropy of Magnetic Susceptibility (AMS). 
    </p>

<h2>Statistical Analysis</h2>
	<p>
		The structural geology community has been slow relative to its disciplinary counterparts to adopt statistical techniques as standard practice when analyzing and interpreting data. This is in part due to the high-dimensionality of structural geology data. Until recently, there were no established methods to treat foliation-lineation pairs, for example. I have been working with Joshua Davis, who has developed excellent tools and methods for treating structural geology data, to provide blueprints for structural geologists to incorporate statistical analysis in their workflow.
	</p>

{% endblock %}
