{% extends 'base.html.j2' %}

{% block title %}Nick's geology research{% endblock %}

{% block page_content %}

<div class = "contentContainer">
<h2>East Pilbara Research Team</h2>
<p>
		This summer I was joined in the field by two Geoscience majors from UW Madison, Casey and Rex. The three of us spent six weeks mapping large scale folds in the Warrawoona syncline, and Rex and Casey will be doing independent studies and eventually senior theses focusing on different parts of these folded sequences. I also spent six weeks in the field with Ross Solerno, a PhD student at Washington State in Jeffrey Vervoort's geochemistry lab. We have coordinated our efforts to integrate structural geology and geochemistry data in the Pilbara. 

</p>

<img class="map" src="img/ResearchTeam.jpg" alt="char" width=50% style="float: left">
<img class="map" src="img/NickAndRoss.jpg" alt="char" width=50% style="float: right">
</div>


<p>
</p>


<div class = "contentContainer">
<img class="map" src="img/PilbaraMap.png" alt="char" width=40%>
<img class="map" src="img/MECD_Map.png" alt="char" width=25% style="float:right">
<h2>The Pilbara Craton</h2>
    <p>
    	Since 2016, we have been studying the boundary kinematics and internal structure of the Mt Edgar granitic complex, one of several 50 km-scale structural domes in the Paleoarchean East Pilbara block of the Pilbara craton. These large domes are separated by synformal belts of a very thick coeval supracrustal sequence of volcanics and sedimentary rocks. The East Pilbara block has been pointed to as a the type locality of a pre-plate tectonics process, but this hypothesis is a matter of ongoing debate. We are looking at the kinematics of the sheared boundary between the Mt Edgar granitic complex and the greenstone belt using microstructural analysis by Electron Backscatter Diffraction (EBSD). We are also conducting a magnetic fabrics of the weakly deformed granitoids within the Mt Edgar granitic complex using Anisotropy of Magnetic Susceptibility (AMS). 
    </p>

</div> 
<p>
</p>
<div class = "contentContainer">
<img class="map" src="img/Orofino Results copy.pdf" alt="char" width=40% style="float:right">
<h2>Statistical Analysis</h2>
	<p> 
		I also work on the statistical treatment of high-dimensional structural geology data (like foliation-lineation pairs, strain ellipsoids), primarily with <a href = "http://joshuadavis.us">Joshua Davis</a> at Carleton College. The advent of methods and tools for analyzing structural geology data statistically nicely coincides with a trend towards larger datasets, especially as new databases come online.
	</p>
	<p>
		The structural geology community has been slow relative to its disciplinary counterparts to adopt these statistical techniques as standard practice when analyzing and interpreting data. This is in part due to the high-dimensionality of structural geology data. Until recently, there were no established methods to treat foliation-lineation pairs, for example. I have been working with Joshua Davis, who has developed excellent tools and methods for treating structural geology data, to provide blueprints for structural geologists to incorporate statistical analysis in their workflow.
	</p>
</div>

{% endblock %}
