{% extends 'base.html.j2' %}

{% block title %}Nick's geology scripts{% endblock %}

{% block page_content %}

<h2>Statistical analysis scripts </h2>
            <h4>From <em>The utility of statistical analysis in structural geology</em> (Roberts et al., <em>in review</em>)</h4>
            <p>Download the <a href="Robertsetal_Manuscript.pdf">manuscript</a> and the <a href="Robertsetal_Figures.pdf">figures</a>.</p>
            <p>This paper analyzes three datasets: two from the West Mountain area of the western Idaho shear zone, and one from the Orofino area of the western Idaho shear zone, locally the Ahsahka shear zone. The two datasets from West Mountain are a foliation dataset and a dataset of foliation-lineation pairs. The data from Orofino are foliation-lineation pairs.</p>
            <p><strong>Links:</strong> The .zip file for the R scripts and .csv data files used for analysis can be downloaded <a href="http://www.google.com">here</a>. Note that the these scripts require the programing language R along with the <a href="http://www.joshuadavis.us/software"><em>geologyGeometry</em></a> package of statistical analysis functions written by Joshua R. Davis.</p>

{% endblock %}