{% extends 'base.html.j2' %}

{% block title %}Nick's geology scripts{% endblock %}

{% block parallax_header %}<h1 class="topMargin"></h1>{% endblock %}

{% block page_content %}

<div class="contentContainerWhite">

      <h2>Statistical analysis scripts and code </h2>

	<p><em>Welcome to my scripts page. I do all of my structural analysis of field data using the R programing language, and all of my microstructural (EBSD) analysis using the MTEX toolbox in Matlab. If you are interested in getting started doing the same, then this is the page for you! </em> </p> 

      <p><em>This page is dedicated to providing set-up documentation for analysis scripts that have been included as part of published work. For permanent repositories of published and some unpublished scripts, please visit my <a href = "https://github.com/nicolasmroberts">GitHub page<a>. Please email me at nmroberts@wisc.edu if any scripts do no work properly after following the directions below. Things can happen...for example, R packages are often updated or sometimes get archived, and as a result scripts may need periodic updating</em></p> 

	<p><em>Update: On June 25, 2019 I made a few corrections to the </em> Utility of statistics in structural geology <em> scripts, including no longer loading a defunct library ('FRB').</em></p>

      <p> For published work, I include all the files necessary to reproduce my statistical analysis on this page. </p>

           
</div>
<div class="contentContainer">

                               <h4>From <em>Internal structure of the Paleoarchean Mt Edgar dome, Pilbara Craton, Western Australia</em> (Roberts and Tikoff, 2021)</h4>
                               <p>
                                    This paper examines a dataset of anisotropy of magnetic susceptibility collected from granitic rocks within a Paleoarchean gneiss dome.
                               </p>

                              <p>
                                    The project files can be downloaded from <a href = https://github.com/nicolasmroberts/InternalStructureMtEdgar_PR2021>here<a>.
                               </p>
                                    
                               </div>

<br>






					 <div class="contentContainer">

					 <h4>From <em>The utility of statistical analysis in structural geology</em> (Roberts et al., 2018)</h4>
					 <p>
                                    Download the <a href="Robertsetal_Manuscript.pdf">manuscript</a> and the <a href="Robertsetal_Figures.pdf">figures</a>. download the published pdf <a href = "https://doi.org/10.1016/j.jsg.2018.05.030">here</a>.
                               </p>
					 <p>
                                    This paper analyzes three datasets: two from the West Mountain area of the western Idaho shear zone, and one from the Orofino area of the western Idaho shear zone, locally the Ahsahka shear zone. The two datasets from West Mountain are a foliation dataset and a dataset of foliation-lineation pairs. The data from Orofino are foliation-lineation pairs.
                               </p>
                               <p>  <strong>Note:</strong> The scripts in this project have been written for specific static versions of the <em>geologyGeometry</em> library, for which download links are given. If you would rather download the most recent version of <em>geologyGeometry</em> (which may not be backwards-compatible with all statistical analyses), visit <a href="http://www.joshuadavis.us/software">Joshua Davis's website</a>.
                               </p>


					 <ol>
					 <li>If you have not already downloaded <em>R </em>and<em> RStudio</em> and set it up for using <em>geologyGeometry</em>, then follow the instructions to do so at the bottom of this page. </li>
					 <br>
					 <li>
					 						Dowload <a href = "geologyGeometry.zip"><em>geologyGeometry</em> June 2017 version</a>. This linked version already contains the datasets and statistical analyses from Roberts et al. (2018).
					 			</li>
					 	<br>
					 			<li>
					 						Drag the <em>20170620geologyGeometry</em> folder to your desktop. <strong> Note for Windows users:</strong> When Windows unzips a <em>.zip</em> file, it creates a folder with the <em>.zip</em> name. Open this folder, and you will fine the <em>20170620geologyGeometry</em> folder within. Drag <em>20170620geologyGeometry</em> to the desktop.
					 			</li>

						<br>
					 		<li>
					 						The two statistical analysis scripts are titled <em>JSG_StatisticalAnalysis_Orofino.r, </em>and<em> JSG_statisticalAnalysis_WestMountain.r</em>, both located in the <em>geologyGeometry</em> folder. Open them in RStudio.
					 			</li>
					 		 <br>
					 			<li>
					 						At the top of each one, change <span style="font-family:courier new;color:#050">setwd('~Desktop/20170620geologyGeometry')</span> to reflect the true path to your <em>geologyGeometry</em> folder. You should not need to change this if you are using a Mac. If you are using Windows, the proper path format is commented (anything that has a '<span style="font-family:courier new;color:#050">#</span>' in front of it is 'commented', meaning it won't run). Fill in your user name, uncomment the line, and run it.
					 			</li>
					 <br>
					 			<li>
					 						Run each file line by line using "Run" button at the top of the window. Enjoy!
					 			</li>

								<br>
								<li>
										<strong>Strongly encouraged:</strong> In the <em>20170620geologyGeometry</em> folder, you will find many <em>tutorial</em> subdirectories. Each of these subdirectories contain well-commented tutorial scripts by Joshua Davis that guide you through the basics of statistical analysis. If you are new to coding, I recommend starting with the tutorial files in <em>tutorialsR</em>, followed by <em>tutorialsDirections</em> and <em>tutorialsOrientations</em>.
								</li>
					 </ol>
					 </div>

<br>


<div class= "contentContainer">

            <h4>R/RStudio Setup Instructions before using <em>geologyGeometry</em>:</h4>

            <ol>
                  <li>
                        <a href = "http://www.r-project.org/">Dowload R</a> for your system.

                        <ul>
                        	<li>
                        	Choose a "mirror site" that hosts the software, prefereably near your geographical location, for 	speed.
							</li>

							<li>
                        	On the mirror site, click to download a "precompiled binary distribution" of R for your operating 	system.
                        	</li>

                        	<li>
                        	Once the download is complete, run the installer program and follow its instructions.
                        	</li>
                        </ul>
                  </li>
                  <br>
                  <li>
                        Download and install <a href = "https://www.rstudio.com/">RStudio</a>, a nice user interface for using R.
                  </li>

                  <br>
                  <li>
                        If you are installing on a Mac computer, download and install <a href= "http://xquartz.macosforge.org/"><em>XQuartz</em></a>. (You will need to log out and log back in after installing to activate it). <em>XQuartz</em> is a unix windowing system that <em>geologyGeometry</em> uses for interactive plots.
                  </li>
<br>
                  <li>
                        Now, launch <em>RStudio</em>. It will open large window consisting of several "panes". Probably the Console pane is in the lower left corner of the window. Copy and paste (or retype) the following three lines of code into the Console pane, and then press Return to execute them. <strong> This step only needs to be done the first time you use R/RStudio. It will permenantly install some R packages that <em>geologyGeometry</em> uses.</strong>


                        <span style="font-family:courier new;color:#050">
                        	<ul>
                      			<li>
                        		install.packages(c("rgl", "fields", "MASS"))
                        		</li>

                        		<li>
                        		install.packages(c("ICSNP", "expm", "FRB"))
                        		</li>

                        		<li>
                        		install.packages(c("Directional", "pracma"))
                        		</li>
                        	</ul>
                        </span>

                        <br>

                        These commands should cause a flurry of activity. If you are notified that a source version is newer than a binary version, and asked whether to download the source version (y/n), enter  <span style="font-family:courier new;color:#050">n</span>. If you see warnings about how some package was built with an earlier version of R, then ignore them. To check that each package installed correctly, copy each of the following lines into the console.

                        <span style="font-family:courier new;color:#050">
                        	<ul>
                        		<li>
                        		library("rgl")
                        		</li>

                        		<li>
                        		library("fields")
                        		</li>

                        		<li>
                        		library("MASS")
                        		</li>

                        		<li>
                        		library("ICSNP")
                        		</li>

                        		<li>
                        		library("expm")
                        		</li>

								<li>
                        		library("FRB")
                        		</li>

                        		<li>
                        		library("Directional")
                        		</li>

                        		<li>
                        		library("pracma")
                        		</li>
                        	</ul>
                        </span>
                        <br>
                        You are now all set up to use the <em>geologyGeometry</em> tools.
									</li>

            </ol>

      </div>















{% endblock %}
