{% extends 'base.html.j2' %}

{% block title %}Nick's geology teaching{% endblock %}

{% block parallax_header %}<h1 class="topMargin"></h1>{% endblock %}

{% block page_content %}

<div class= "contentContainer">
	<h2>Teaching Geology</h2>
	<p> 
		Teaching and learning interractions with undergraduates has been an integral part of my graduate school experience. I have TAed structural geology (3 times) and mineralogy at UW Madison and was a TA for a 10 week field program run by Carleton College in New Zealand. I am also mentoring two undergraduates as they complete senior theses in my PhD field area.
	</p>
	<p>

	</p>
</div> 
<p>
</p>
<div class = "contentContainer">
	<h2>Teaching through Research</h2>
            <p>
            	<em> This section of my website is currently under construction. Eventually, it will contain a teaching through research statement. </em>
            </p>
</div>
<p>
</p>
<div class = "contentContainer">
	<h2>Teaching in the Classroom</h2>
	<p>
		<em> This section of my website is currently under construction. Eventually, it will contain a teaching statement. </em>
	</p>
</div>
{% endblock %}