{% extends 'base.html.j2' %}

{% block title %}Nick's geology teaching{% endblock %}

{% block parallax_header %}<h1 class="topMargin"></h1>{% endblock %}

{% block page_content %}
<div class = "row">

<div class= "contentContainerHeading">

	<div style="text-align:center;">
			<img class="headingPhotos" style="width:80%;" src="img/StudentsAndVolcano.jpeg" alt="char">

		<img class="headingPhotos" style="width:25%;" src="img/StudentsAtDike.jpg" alt="char">
		<img class="headingPhotos" style="width:25%;" src="img/AndersonianSandBlock.jpeg" alt="char">
		<img class="headingPhotos" style="width:30%;" src="img/StudentOnOutcrop.jpeg" alt="char">
	</div>
<br>
	<h2 style="color:#ffffff">Quantitative, experiential learning in the Geosciences</h2>
	<p class = "centeredParagraphWhite"> 
		I currently teach two core courses at Hamilton. The first is <em> Our Interconnected Earth </em>, an introductory level course that survey's the geosciences around the theme of how Earth's many systems connect and depend on one another. The second is <em>Structure and Tectonics</em>, a course focused on how Earth's crust deforms from the plate scale to the microscale, and how structural geologists investigate geologic structures to learn about Earth's history and processes. 
	</p>
</div>

<div class="contentContainer">

	<h2> Motivation and Approach </h2>

	<p>
		The ability to think like a geoscientist is increasingly important in our society. The global challenges of this century--climate change, water scarcity, stress on our food system--are almost all geologically related. Through teaching in the classroom, in the field, and by involving students in active research, I hope to educate the next generation of global citizens in our deeply interconnected Earth system. 
	</p>

	<p>
		I use a quantitative, data-driven approach to teaching that gets students working with real geologic data, interracting with physical phenomena in activities and labs, and collecting and analyzing the geologic records on field trips. I hope students leave my classes with a firm understanding how we observe our world, go about analyzing data, and making well-supported interpretations. 
<div>
	<img width = 80% src="img/GeneralShear_materialLine95deg.gif">
</div>

</div>
</div>


{% endblock %}